<ion-view title="Buscar EventuX">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-android-home"></button>
            <button class="button button-stable button-block  icon ion-search"></button>
            <a href="#/page7" class="button button-stable button-block  icon ion-android-settings"></a>
        </div>
        <form class="list">
            <div class="spacer" style="width: 320px; height: 61px;"></div>
            <label class="item item-select">
                <span class="input-label">Tipo de evento</span>
                <select>
                    <option>Feira</option>
                    <option>Palestra</option>
                    <option>Congresso</option>
                    <option>Cinema</option>
                    <option>Teatro</option>
                    <option></option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Assunto</span>
                <select>
                    <option>Drama</option>
                    <option>Tecnologia</option>
                </select>
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Cidade:</span>
                <input type="text" placeholder="São Paulo (462 anos)">
            </label>
        </form>
        <form class="list">
            <a href="#/page5" class="button button-stable button-block ">Buscar</a>
        </form>
    </ion-content>
</ion-view>