<ion-view title="Dados Pessoais">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Joãozinho">
            </label>
            <label class="item item-input">
                <span class="input-label">Telefone:</span>
                <input type="text" placeholder="34 3434-3434">
            </label>
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="text" placeholder="mimimi@mi.mo">
            </label>
            <label class="item item-input">
                <span class="input-label">Usuário:</span>
                <input type="text" placeholder="jonnybegood">
            </label>
            <label class="item item-input">
                <span class="input-label">Senha:</span>
                <input type="text" placeholder="***********">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 85px;"></div>
        <a href="#/page3" class="button button-balanced button-block ">Próximo!</a>
    </ion-content>
</ion-view>