<ion-view title="Detalhe EventuX">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div class="button-bar">
            <a href="#/page4" class="button button-stable button-block  icon ion-android-home"></a>
            <a href="#/page4" class="button button-stable button-block  icon ion-search"></a>
            <a href="#/page7" class="button button-stable button-block  icon ion-android-settings"></a>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Tipo de evento: Palestra</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Assunto: Api´s</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Local: Rua Casa do Ator, 919, Sp,SP</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Quando: 25/01/2016 11h20</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Link do evento: www.cubo.com.br/palestradoferiado</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>