<ion-view title="Interesses">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list checkbox-royal">
            <ion-checkbox>Tecnologia</ion-checkbox>
            <ion-checkbox>Artes</ion-checkbox>
            <ion-checkbox>Saúde</ion-checkbox>
            <ion-checkbox>Artesanato</ion-checkbox>
            <ion-checkbox>Jogos</ion-checkbox>
        </form>
        <div class="spacer" style="height: 100px;"></div>
        <a href="#/page4" class="button button-royal button-block col col-50 col-offset-25 ">Cadastrar!</a>
    </ion-content>
</ion-view>