<ion-view title="Login em EventuX">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img src="img/icon.jpg" class="col col-50 col-offset-25" width="100%" height="auto" style="width: 100%; height:auto;">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="#/page2" class="button button-balanced button-block ">Log in</a>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">Crie sua conta</a>
        </form>
    </ion-content>
</ion-view>